<div class="form-container mat-elevation-z5">
    <h1>Registro de Nuevo Usuario</h1>
    <form [formGroup]="registroForm" (ngSubmit)="submit()">
        <mat-form-field>
            <input matInput type="text" placeholder="Ingrese su Nombre" formControlName="name"/>
            <mat-error *ngIf="name?.errors?.['required']">
              El Nombre es Necesario
            </mat-error>
          </mat-form-field>
      <mat-form-field>
        <input matInput type="text" placeholder="Ingrese su Email" formControlName="email"/>
        <mat-error *ngIf="email?.errors?.['required']">
          El Correo es Necesario
        </mat-error>
        <mat-error *ngIf="email?.errors?.['email']">
          Ingrese un Correo Valido Por Favor
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" placeholder="Contraseña" formControlName="password" />
        <mat-error *ngIf="password?.errors?.['required']">
          La Contraseña es necesaria
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput type="password" placeholder="Repita la Contraseña" formControlName="confirmPassword" />
        <mat-error *ngIf="confirmPassword?.errors?.['required']">
          La Contraseña Repetida es necesaria
        </mat-error>
      </mat-form-field>

      <mat-error *ngIf="registroForm.errors?.['passwordsDontMatch']">
        Las Contraseñas no son Iguales
      </mat-error>
      <div class="center margin-top">
        <button mat-raised-button color="primary" type="submit">
            Registrarse!
        </button>
      </div>
    </form>
  </div>
    