<mat-toolbar color="warn">
  Videojuegos

  <ng-container *ngIf="authService.currentUser$ | async as user; else loginButton">
    <button mat-button [mat-menu-trigger-for]="userMenu">
      <mat-icon>acount_circle</mat-icon>
      {{user.displayName}}
      <mat-icon>expand_more</mat-icon>
    </button>
  </ng-container>

  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Ingresar
    </button>
  </ng-template>
</mat-toolbar>

<div class="content contenedor">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item (click)="logout()">Cerrar Sesion</button>
</mat-menu>
