
  
<div class="form-container mat-elevation-z5">
  <h1>Iniciar Sesion</h1>
  <form [formGroup]="loginForm" (ngSubmit)="submit()">
    <mat-form-field>
      <input matInput type="text" placeholder="Ingrese su Email" formControlName="email"/>
      <mat-error *ngIf="email?.errors?.['required']">
        El Correo es Necesario
      </mat-error>
      <mat-error *ngIf="email?.errors?.['email']">
        Ingrese un Correo Valido Por Favor
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Contraseña" formControlName="password" />
      <mat-error *ngIf="password?.errors?.['required']">
        La Contraseña es necesaria
      </mat-error>
    </mat-form-field>
    <div class="center margin-top">
      <button mat-raised-button color="primary" type="submit">
          Ingresar
      </button>
    </div>
    <span class="center margin-top">Eres nuevo en el Sitio? <a class="registro-b" routerLink="/registrarse">Registrarse</a></span>
  </form>
</div>
  