/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.form-container {
    display: block;
    max-width: 50%;
    margin: auto;
    background-color:rgba(99, 255, 68, 0.192);
    padding: 5%;
    border-radius: 16px;
}

.form-container mat-form-field {
    width: 100%;
}

.center {
    display: flex;
    justify-content: center;
}

.margin-top{
    margin-top: 16px;
}

.text-center{
    text-align: center;
}